*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*  MAIN   */
body{
    background-image: linear-gradient(  #009688 10% ,#d6dbd7 10%);
    height: 100vh;
    
    font-family: 'Lato', sans-serif;
}
#app{
    height: 100%;
    overflow: auto;
}

.main-container{
    display: flex;
    margin: 20px  auto;
    width: 60%;
    height: calc(100% - 40px);
}


.contact-list{
   
    width: 40%;
    
}


.contact-message{
    
    width: 60%;
    display: flex;
    flex-direction: column;

}
/* LEFT COL */

.user-info{
    background-color: #eaeaea;
    width: 100%;
    display: flex;
    padding:  5px 10px;
    border-right: 1px solid #d6d6d6;
    justify-content: space-between;
}
.user , .contact{
    display: flex;
    
}
.user img , .contact img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
    


.user p   , .user-icon   {
    line-height: 50px;
    
}

.user-icon i{
    color:#b1b1b1 ;
    margin-right: 10px;
    cursor: pointer;
}


.notification{
    background-color: #8edafc;
    width: 100%;
    display: flex;
    padding: 20px;
}

.notification i {
    text-align: center;
    color: #8edafc;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    line-height: 40px;
    border-radius: 100%;
    background-color:#ffffff ;
    cursor: pointer;
}

.text-notification p:last-child{
    text-decoration: underline;
    color: grey;
    cursor: pointer;
}

.search-contact{
    background-color: #fafafa;
    width: 100%;
    padding: 10px;
    display: flex;
    
}
.search-contact input{
    width: 100%;
    padding: 5px;
    outline: none;
    border-style: none;
    border: 1px solid #fafafa;
}
.search-contact button{
    background-color: #ffffff;
    border-style: none;
    color: #b6b9bb;
    cursor: pointer;
    border: 1px solid #fafafa;
    padding: 5px 20px;
}
.contact-chat-list{
   
    background-color: #fff;
    height: calc(100% - 187px);
    overflow-y: auto;
}


.contact-chat{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    
    display: flex;
}
.contact-chat:not(:last-child){
    border-bottom: 2px solid #fafafa;
}
.contact-chat.active{
    background-color: #e9ebeb;
    opacity: 1;
}
.contact-list-info , .contact-text{
    margin-left: 15px;
}
.contact-list-info small ,.time small{
    color: #bbb9c0;
}
.time{
    flex-grow: 1;
    text-align: end;

}




/* RIGHT COL */

.contact-info{
    background-color: #eaeaea;
    width: 100%;
    display: flex;
    padding:  5px 10px;
    justify-content: space-between;
    
}
.contact-text small{
    color: gray;
}
.message-area{
    flex-grow: 1;
    background-image:url(../img/mine.jpg) ;
    overflow-y: auto;
}
.message-time{
    text-align: end;
}
.sent{
    width: 20%;
    margin-top: 25px;
    background-color: #d5f9ba;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.received{
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
}
    

.type-message-bar{
    background-color: #eaeaea;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.input-bar{
    width: 100%;
}
.input-bar input{
    padding:10px ;
    border-radius: 5px;
    outline: none;
    border-style: none;
    width: 100%;
}
.emote ,  .input-mic{
    padding: 10px 20px;
    color: #6b7376;
}

.dropdown-content{
    display: none;
    position: absolute;
    
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.sent:hover .dropdown-content {
    display: block;
}
   
.received:hover .dropdown-content {
    display: block;
}    