<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
        <title>Boolzapp</title>
    </head>
    <body>
        <div id="app">
            <div class="main-container">
                <div class="contact-list">
                    <div class="user-info">
                        <div class="user">
                            <img src="img/avatar_3.jpg" alt="">
                            <p>Francesco</p>
                        </div>
                        <div class="user-icon">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="notification">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div class="text-notification">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div class="search-contact">
                        
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" name="" id="" placeholder="Cerca o inizia una nuova chat" v-model="searchName" >
                        
                    </div>
                    <div class="contact-chat-list">
                        <div class="contact-chat " :class="(activeContact===index) ? 'active' : ''" v-show="filterList(contact)" v-for="(contact , index) in contacts" @click="changeContact(index)">
                            <div class="user">
                                <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                                
                            </div>
                            <div class="contact-list-info">
                                <p>{{contact.name}}</p>
                                <small>{{contact.messages[contact.messages.length-1].message}}</small>
                            </div>
                            <div class="time">
                                <small>{{contact.messages[contact.messages.length-1].date.substring(11,16)}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-message">
                    <div class="contact-info">
                        <div class="contact">
                            <img :src="`img/avatar${contacts[activeContact].avatar}.jpg`" alt="">
                            <div class="contact-text">
                                <p>{{contacts[activeContact].name}}</p>
                                <small>Ultimo accesso oggi alle {{contacts[activeContact].messages[activeContact].date.substring(11,16)}}</small>
                            </div>
    
                            
                        </div>
                        <div class="user-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-sharp fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        
                        
                        
                    </div>
                    <div class="message-area" >
                        <div :class="message.status" v-for="(message , index) in contacts[activeContact].messages">
                            {{message.message}}
                           <div class="message-time">{{message.date.substring(11,16)}}</div>
                           <div class="dropdown-content">
                               <a href="#" @click="deletMessage(index)">Cancella messaggio</a>
                            </div>
                          </div>
                               
                        
                        
                    </div>
                    <div class="type-message-bar">
                        
                        <div class="emote">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="input-bar">
                            <input type="text"  placeholder="Scrivi un messaggio" @keyup.enter="addingNewMessage" v-model="newMessage">
                        </div>
                        <div class="input-mic">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <script src="js/main.js"></script>
    </body>
</html>
                        
        
        


                    
                   
                    
                    